.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    
    width: auto;
    height: auto;
    backface-visibility: hidden;
    border-radius: 0.5rem;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 25%;
    left: 25%;
    height: auto;
    width: auto;
  }
  